h3 {
    background: goldenrod;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    padding: 10px 5px 10px 20px;
    font-size: 2rem;
}

.card {
    box-shadow: 0 3px 1px 0px rgba(0,0,0,.12) !important;
}