<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
    <ul class="list-group">
      <a
       class="list-group-item"
       style="cursor: pointer;"
       *ngFor="let ingredient of ( ingredients | async ).ingredients; let i = index;"
       (click)="onEditItem(i)">
        <!-- Since ingredients is now an Observable, we can use the async pipe from angular to subscribe and retrieve the ingredients array.  -->
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
