.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.75);
  z-index: 9;
}

.alert-box {
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 1.5rem;
  z-index: 10;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,.25);
  border-radius: 4px;
}

.alert-box-actions {
  text-align: right;
}
