<label for="Server Name">Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>

<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->

<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li *ngFor="let server of servers"><app-server></app-server></li>
            </ul>
        </div>
    </div>
</div>

